01_Literature/
03_Tutorial/
04_Computation/01_automation/NMC_SPE_Python
04_Computation/01_automation/_input
04_Computation/01_automation/playground
04_Computation/01_automation/VASPinput
04_Computation/LixNiO2/
05_Documentation
Misc/
Orga/
Software/

04_Computation/01_automation/LiNMC622_Alcohol.zip
04_Computation/01_automation/LiNMC622_Alcohol

